<!DOCTYPE html>
<html>
  <head>
    <title>Hydro4life</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

      
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <script src="https://use.fontawesome.com/fc6d352727.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,500,500i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <style type="text/css">
   	 a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}


  .navbackground{
     background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
  }



.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}




.navbar-light .navbar-brand1{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-scroll{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #282896;
  font-weight: 300;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
	transition: color .5s ease-in-out;
  color: #2ff4fd;
  font-weight: 300;
}

 .navbar-light .navbar-nav .nav-link:hover {
 	transition: color .5s ease-in-out;
  color: #2ff4fd;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #282896;
  font-weight: 500;
  border-bottom: 2px solid #282896;
 }

 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 0rem;
  -webkit-box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.09);
box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.09);
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
 color: #010b48;
  font-weight: 300;
  font-family: 'Exo 2', sans-serif;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #f5b822;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #f5b822;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #f5b822;
  background-color: transparent;
}

.foothead {
	color: white;
	font-family: 'Exo 2', sans-serif;
}

.donatebutton {
  background-color: #2be0f5;
  border: 1px solid #2be0f5;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
}

.donatebutton:hover {
  background-color: #2ff4fd;
  border: 1px solid #2ff4fd;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
}

.donatebutton:active {
  background-color: #2ff4fd;
  border: 1px solid #2ff4fd;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider:hover {
  background-color: transparent;
  border: 1.5px solid #2be0f5;
  border-radius: 10px;
  color: #2be0f5;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider:active {
  background-color: transparent;
  border: 1.5px solid #2be0f5;
  border-radius: 10px;
  color: #2be0f5;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.donate {
		background-color: #282896;
		border: 1px solid #282896;
		border-radius: 0px;
		color: white;
	}

	.donate:hover {
		background-color: #282896;
		border: 1px solid #282896;
		border-radius: 0px;
		color: white;
		 -webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.22);
	  -moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.22);
	  box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.22);
	}

	.donate:active {
		background-color: #282896;
		border: 1px solid #282896;
		border-radius: 0px;
		color: white;
		 -webkit-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
	  -moz-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
	  box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
	}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 14px;
  line-height: inherit;
  white-space: nowrap;
}

}

   </style>



  	<nav class="navbar navbar-light navbar-expand-lg fixed-top navbackground">
      <div class="container">
        <a class="navbar-brand1" href="/" style=""><img src="https://res.cloudinary.com/nikasemo/image/upload/v1564740574/h4llogo_uyj0mn.png" style="margin-right:3px; width: 70px; height: 70px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link  <%= 'active' if current_page?(root_path) %>" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
           <!--  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/visionandmission">Vision and Mission</a>
          <a class="dropdown-item" href="/logo">Our Logo</a>
          <a class="dropdown-item" href="/culture">Our Winning Culture</a>
          <a class="dropdown-item" href="/leadership">Leadership</a>
          <a class="dropdown-item" href="/twentyyearsforward">20 years forward</a>
        </div>
      </li>

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Branches
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/church">Church</a>
          <a class="dropdown-item" href="/business">Business</a>
          <a class="dropdown-item" href="/multimedia">Multimedia</a>
          <a class="dropdown-item" href="/production">Production</a>
          <a class="dropdown-item" href="/education">Education</a>
          <a class="dropdown-item" href="/realestate">Real Estate</a>
          <a class="dropdown-item" href="/foundation">Foundation</a>
        </div>
      </li> -->
            <li class="nav-item">
              <a class="nav-link  <%= 'active' if current_page?(aboutus_path) %>" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page?(completedprojects_path) %>" href="/completedprojects">Completed projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page?(pendingprojects_path) %>" href="/pendingprojects">Pending Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page?(contactus_path) %>" href="/contactus">Contact Us</a>
            </li>

            
            
          </ul>
           <ul class="navbar-nav ml-auto">
           	<li class="nav-item">
              <a class="btn btn-primary btn-lg donatebutton" href="/donate" target="_blank">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!" target="_blank"><span><i class="fa fa-facebook-official" style="margin-left: 9px; color: #2be0f5;" aria-hidden="true"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!" target="_blank"><span><i class="fa fa-twitter-square" style="margin-left: 9px; color: #2be0f5;" aria-hidden="true"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"><span><i class="fa fa-instagram" style="margin-left: 5px; color: #2be0f5;" aria-hidden="true"></i></span></a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <% if notice %>
    <div class="alert alert-success alert-dismissible" style="position: absolute; top: 100px; z-index: 999;" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>

  <body style="font-family: 'Exo 2', sans-serif;">
    <%= yield %>

         <footer class="py-5" style="background-color: #282896;">
      <div class="container">
        <div class="row">
        <div class="col-lg-6">
          <div class="innerfooter">
            <h5 class="foothead">Receive Our Updates</h5>
            <p style="font-family: 'Raleway', sans-serif; font-size: 14px; text-align: left; font-weight: 300; color: #ffffff;">HYDRO4LIFE is a non-profit charity organization with the sole objective of stimulating community development to ultimately bring about social change through our flagship activity of constructing boreholes and providing education on water sanitation.</p><br>
            <form class="form-inline" style="font-family: 'Raleway', sans-serif;">
			  <div class="form-group mb-2">
			    <label for="staticEmail2" class="sr-only">Name</label>
			    <input type="text" class="form-control" id="staticEmail2" placeholder="Your Name">
			  </div>
			  <div class="form-group mx-sm-3 mb-2">
			    <label for="inputPassword2" class="sr-only">Phone Number</label>
			    <input type="password" class="form-control" id="inputPassword2" placeholder="Phone Number">
			  </div>
			  <button type="submit" class="btn btn-warning mb-2 btnhomeslider">Submit</button>
			</form>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="innerfooter">
            <h5 class="foothead">About Us</h5>
            <ul style="list-style:none; padding-left:0; font-family: 'Raleway', sans-serif; font-weight: 200;">
            <li><a href="/aboutus" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">
            About</a></li>
            <!-- <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Partner with Us</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="innerfooter">
            <h5 class="foothead">Projects</h5>
            <ul style="list-style:none; padding-left:0; font-family: 'Raleway', sans-serif; font-weight: 200;">
            <li><a href="/pendingprojects" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Pending projects</a></li>
            <li><a href="/completedprojects" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Completed projects</a></li>
            <!-- <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Partner with Us</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="innerfooter">
            <h5 class="foothead">Support</h5>
            <ul style="list-style:none; padding-left:0; font-family: 'Raleway', sans-serif; font-weight: 200;">
            <li><a href="/contactus" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Contact Us</a></li>
            <li><a href="#!" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FAQ's</a></li>
            <!-- <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Terms and Conditions</a></li>
            <li><a href="/privacypolicy" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Privacy Policy</a>
            </li> -->
            <br>
            <li><a href="" style="color: white; font-weight: 500; font-size: 14px; text-decoration:none; margin-bottom: 8px;">Follow Us</a></li>
            <li>
            <span><a href="#!/" target="_blank"><i class="fa fa-facebook-official" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href="#!" target="_blank"><i class="fa fa-twitter-square" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href="#!" target="_blank"><i class="fa fa-instagram" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
            </li>
            </ul>
          </div>
        </div>
        
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12">
        <p class="m-0 text-center text-white" style="font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 14px;">Copyright &copy; Hydro4Life, 2019</p>
      </div>
    </div>
      </div>
      <!-- /.container -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map"></script>

<%= javascript_include_tag 'scroll-reveal.js' %>


<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>

  </body>
</html>
